.about{

    padding-top: 70px;
    width: 100%;
   
    
}
.heading > h1{
    margin-bottom: 20px;
    padding-left: 50px;
    padding-top: 20px;
    color: rgb(128, 87, 11);
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    text-decoration-line: underline;
}
.container{
    display: flex;

    gap: 50px;
    width: 93%;
   
    padding: 10px 20px 20px 30px;

}
.welcome{
    width: 50%;

}
.aboutus{
    display: flex;
    flex-direction: column;
}
.aboutus > h2{
  font-size: 40px;
}
.welcome > p{
    font-size: 15px;
    text-align: justify;
    font-family: cursive;
}
.explore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    

}
.explore > h2{
    font-size: 20px;
    border: 2px solid black;
    padding: 10px;
    width: 200px;
    height: 40px;
    border-radius: 15px;
    background-color: rgb(187, 182, 253);
    display: flex;
    justify-content: center;
    align-items: center;
}
.explore > h2:hover{
    transform: scale(1.1);
    background-color:  rgb(49, 79, 249);;
    color:rgb(194, 117, 10);
    cursor: pointer;
}
.about-photo{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    object-fit: cover;
    

}
.about-photo > img {
    object-fit: cover;
    height: 200px;
    width: 200px;
    padding: 10px;
    border-radius: 30px;
    
    
    
}
.about-photo > .img1:hover {
   
    height: 200px;
    width: 200px;
    padding: 10px;
    transform: scale(1.1);
    
}
.about-photo > .img2:hover {
 
    height:200px;
    width: 200px;
    padding: 10px;
    transform: scale(1.1);
    
}

.about-photo >  .img4:hover {
   
    height: 200px;
    width: 200px;
    padding: 10px;
    transform: scale(1.1);
    
}
.about-photo > .img3:hover {
 
    height:200px;
    width: 200px;
    padding: 10px;
    align-items: flex-start;
    transform: scale(1.1);
}

.welcome > .box-room{

   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 40px;
    padding-left: 50px;
    gap: 20px;
    color:rgb(138, 93, 9);
}
.box-room-item1{
    border:2px solid rgb(71, 5, 5);
    width: 80px;
    border-radius:8px;
    padding: 10px;
   
    align-items: center;
    justify-content: center;
    align-items: flex-start;
    text-align: center;


}
.box-room-item1:hover{
    transform: scale(1.1);
    background-color: rgb(133, 196, 250);
    color: rgb(75, 12, 12);
}


