.Ugallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 20px;
  text-align: center;
}
.Ugallery-heading>h1{
font-size: 22px;
font-weight: 500;
margin-bottom:20px ;
}
.filter-buttons {
  margin-bottom: 20px;
}

.filter-buttons button {
  margin-right: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.image-gallery {
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  padding: 20px;
}

.image-gallery img {
  width: 320px;
  border: 1px solid #faf7f7;
  margin: 10px;
  border-radius: 4px;
  gap: 20px;
  border-radius: 8px;
}
.image-gallery>img:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 30px rgb(148, 146, 146);
}
