*{
    margin: 0;
    padding: 0;
}
.navbar{

    font-family:sans-serif;
    height: 60px;
  
}
.containers{
    
    display: flex;
    width: 100%;
    height: 60px;
    background-color: white;
    box-shadow: 5px 5px 30px firebrick;
    position: fixed;
    z-index: 1;
}
.admin-heading{
    padding-top: 6px;
    width: 40%;
    text-align: center;
 
}
.search-box{
    padding-top: 6px;
    width: 30%;
    display: flex;
    text-align: center;
    justify-content: center;
    
    /* background-color: green; */
}
.search-item{
    padding: 3px;
    width:220px;
    height: 30px;
    border:1px solid red;
    border-radius: 8px;
    background-color: antiquewhite;
    display: flex;


    
}
.search-icon{
    padding-top: 4px;
}
.search-item > input{
    background-color: transparent;
   outline: none;
    padding: 3px;
    border: none;
    font-size: 15px;
    

}

.notify{
    width: 30%;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 30px;
    padding-top: 12px;
    font-size: 22px;
}
.notify-item:hover{
    border: .5px solid black;
    padding: 2px;
    background-color: rgb(183, 248, 248);
    border-radius: 15px;
}