*{
    margin: 0;
    padding: 0;
  

}

.navbar{
    background-color: #453f3f;
   position: fixed;
   z-index: 1000;
   width: 100%;
}
.navbar-container{
    background-color: #363435;

    display: flex;
    height: 60px;
    width: 100%;
 

}
.navbar-logo img{
    width: 100px;
    height: 55px;
    background-blend-mode: multiply;
    margin-left: 5px;
    background-clip: text;
    -webkit-background-clip: text;
    
   

    
}
.navbar-link{
    text-decoration: none;
}
.navbar-menu{
    display: flex;
    margin-top: 10px;
    margin-left: 160px;
}
.navbar-item{
    list-style: none;
    padding: 5px;
    margin-left: 40px;
}
.btn{
    display: flex;
   

}
.btn button{
   background-color: #453f3f;
    margin-top: 10px;
    margin-left: 250px;
    margin-bottom: 10px;
    padding:10px;
    border-radius: 10px;
    text-decoration: none;
}
.btn button:hover{
    transform: scale(1.1);
    background-color: #d1881a;
}
.btn .icons{
    margin:30px 10px 20px 40px;
}
.icons .icons-items{
    margin-left: 10px;
}
.icons .icons-items:hover{
    border: 1px solid white;
    padding: 5px;
    background-color: #032627;
    border-radius: 15px;
}
