.accomodation {
    padding: 20px;
    text-align: center;
  }
  
  .accomodation-con  >h1{
    position: relative;
    padding: 5px;
    font-weight: 500;

    
  }
  .accomodation-con >h1::before{
    content: "";
    position: absolute;
    left: 42%;
    transform: translate(50% -50%);
    bottom:0;
    background-color: red;
    width: 12rem;
    height: 2px;
    
    
  }
  
  .room {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    
  }
  
  .room-type {
    border: 1px solid #322727;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    text-align: left;
  }
  .room-type:hover{
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 5px 5px 30px #1d1919;
  }
  
  .room-type-image img {
    width: 100%;
    height: auto;
  }
  
  .room-type-title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px;
  }
  
  .room-type-para {
    margin: 10px;
    font-size: 1em;
    text-align: justify;
  }
  
  .room-type-para a {
    color: blue;
    text-decoration: underline;
  }
  
  .room-type-book {
    margin: 10px;
    text-align: right;
  }
  
  .room-type-book a{
    display: inline-block;
    padding: 10px 20px;
    background-color: #1a1b1c;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .room-type-book a:hover {
    background-color: #0056b3;
  }
  